<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="trinta-form ml-auto mr-auto bg-white border-radius">
                <div class="title text-center">
                    <h3>
                        Mot de passe oublié !
                    </h3>
                    <p class="text-black fs-15">
                        Entrez l'adresse e-mail que vous avez utilisée lors de votre inscription et nous vous enverrons des instructions pour réinitialiser votre mot de passe.
                    </p>
                </div>
                <form [formGroup]="formInfo" (ngSubmit)="sendmail()">
                    <div class="form-group" >
                        <label class="label d-block fw-medium">
                            Adresse e-mail
                        </label>
                        <mat-form-field>
                            <i-feather name="mail"></i-feather>
                            <mat-label>Entrez votre adresse e-mail</mat-label>
                            <input matInput type="email" id="email" formControlName="email">
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="formInfo.get('email')!.hasError('required') && formInfo.get('email')!.touched">
                            L’adresse e-mail est requise.
                        </div>
                        <div class="error text-danger" *ngIf="formInfo.get('email')!.hasError('pattern') && formInfo.get('email')!.touched">
                            Veuillez entrer une adresse email valide (ex: {{ exempleEmail }}) .
                        </div>
                        <div class="error text-danger" *ngIf="errorMessage">
                            {{ errorMessage || 'Une erreur est survenue.' }}
                        </div>

                    </div>
                    <div class="spinner-wrapper" *ngIf="isLoading">
                        <mat-spinner diameter="30" strokeWidth="4"></mat-spinner>
                    </div>
                    <button mat-button type="submit" [disabled]="formInfo.invalid || isLoading" *ngIf="!isLoading">
                        Envoyer
                    </button>
                    <div class="text-center">
                        <a routerLink="/authentication" class="text-primary">
                            Retour à la connexion
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
