<div class="logout-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="trinta-form ml-auto mr-auto text-center bg-white position-relative z-1 border-radius">
                <h3>
                    Bienvenue sur
                </h3>
                <div class="logo ecogui-text">
                        Ecogui
                </div>
                <p class="text-black fs-15">
                    Vous êtes déconnecté
                </p>
                <a routerLink="/authentication" mat-button>
                    Se connecter
                </a>
                <div class="shape1">
                    <img src="images/icons/star1.svg" alt="icon">
                </div>
                <div class="shape2">
                    <img src="images/icons/star2.svg" alt="icon">
                </div>
                <div class="shape3">
                    <img src="images/icons/star2.svg" alt="icon">
                </div>
                <div class="shape4">
                    <img src="images/icons/star1.svg" alt="icon">
                </div>
            </div>
        </div>
    </div>
</div>
