<div class="content">
  <div class="signin_nav">
    <span (click)="signinBlock()">signin</span>
    <div *ngIf="isSignin">
      <a (click)="nav_signin('seller')">Vendeur ></a>
      <a (click)="nav_signin('buyer')">Acheteur ></a>
      <a (click)="nav_signin('admin')">Admin ></a>
    </div>
  </div>
  <div class="signup_nav" >
    <span (click)="signupBlock()">signup</span>
    <div *ngIf="isSignup">
      <a (click)="nav_signup('seller')">Vendeur ></a>
      <a (click)="nav_signup('buyer')">Acheteur ></a>
    </div>
  </div>
</div>
