<div class="lock-screen-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="trinta-form ml-auto mr-auto bg-white border-radius">
                <div class="title text-center">
                    <h3>
                        Bienvenue
                    </h3>
                    <p class="text-black fs-15">
                        Bonne journée ! Entrez votre mot de passe pour déverrouiller l'écran.
                    </p>
                </div>
                <div class="user text-center">
                    <img src="http://localhost:3000/static/upload/images/products/f7227ea5-9d0e-4d49-a52d-8c9d0329a4bd.jpeg" class="rounded-circle" alt="admin-image">
                    <span class="d-block fs-16 fw-semibold heading-font-family">
                        BAH Mamadou
                    </span>
                </div>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            Votre mot de passe
                        </label>
                        <mat-form-field>
                            <i-feather name="lock"></i-feather>
                            <mat-label>Entrez votre mot de passe</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hide">
                                <span class="material-symbols-outlined">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="authForm.get('password')!.hasError('required') && authForm.get('password')!.touched">
                            Le mot de passe est requis.
                        </div>
                        <div class="error text-danger" *ngIf="authForm.get('password')!.hasError('minlength') && authForm.get('password')!.touched">
                            Le mot de passe doit comporter au moins 8 caractères.
                        </div>
                    </div>
                    <button mat-button type="submit" [disabled]="authForm.invalid">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
