<!-- Order Filter -->
 <mat-card class="trinta-card orders-filter-card mb-25 bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">
          Filtres des commandes
        </h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="row">
          <!-- Nom du client -->
          <div class="col-sm-8 col-lg-3">
            <form class="search-box position-relative">
                <input type="text" class="input-search w-100 d-block border-none" placeholder="Filtrer par commande ou client.">
                <button type="submit" class="bg-transparent p-0 border-none transition">
                    <i-feather name="search"></i-feather>
                </button>
            </form>
          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
