<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <mat-card class="trinta-card stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        Commandes Totales
                    </span>
                    <h5 class="m-0">
                        10
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        +2,80% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        Ce mois-ci
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card class="trinta-card stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        Revenus Totaux
                    </span>
                    <h5 class="m-0">
                        4 550 000 GNF
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    <span class="trending down d-block fw-medium position-relative">
                        -0,60% <i class="ri-arrow-down-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        Ce mois-ci
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card class="trinta-card stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        Remboursements
                    </span>
                    <h5 class="m-0">
                        3
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        +3,55% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        Ce mois-ci
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card class="trinta-card stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        Taux de Conversion
                    </span>
                    <h5 class="m-0">
                        22%
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        +1,70% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        Ce mois-ci
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
     <div class="col-xxl-3 col-sm-6">
        <mat-card class="trinta-card stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        Mon score
                    </span>
                    <h5 class="m-0">
                        890
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    <span class="trending down d-block fw-medium position-relative">
                        -5,60% <i class="ri-arrow-down-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        Ce mois-ci
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card class="trinta-card stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        Rang
                    </span>
                    <h5 class="m-0">
                        123 em
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        +9,32% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        Ce mois-ci
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
