<!--=============== HEADER ===============-->
<header class="header">
  <nav class="nav container">
      <div class="nav__data">
          <a href="#" class="nav__logo">
              <i class="ri-planet-line"></i> N-G-C
          </a>

          <div class="nav__toggle" id="nav-toggle">
              <i class="ri-menu-line nav__burger"></i>
              <i class="ri-close-line nav__close"></i>
          </div>
      </div>

      <!--=============== NAV MENU ===============-->
      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
              <li><a href="index.php?page=home" class="nav__link">Home</a></li>

              <!--=============== DROPDOWN 2 ===============-->
              <li class="dropdown__item">
                  <div class="nav__link">
                      Portfolio <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                      <li>
                          <a href="index.php?page=webSite" class="dropdown__link">
                              Web-Site
                          </a>
                      </li>

                      <li>
                          <a href="index.php?page=mobilesite" class="dropdown__link">
                              MobileApp
                          </a>
                      </li>

                      <li>
                          <a href="index.php?page=desktopapp" class="dropdown__link">
                              DesktopApp
                          </a>
                      </li>
                  </ul>
              </li>

              <!--=============== DROPDOWN 2 ===============-->
              <li class="dropdown__item">
                  <div class="nav__link">
                      Clients <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu ">
                      <li>
                          <a href="index.php?page=Testimony" class="dropdown__link">
                              <i class="ri-bard-line"></i> Testimony
                          </a>
                      </li>

                      <li>
                          <a href="index.php?page=LastContract" class="dropdown__link">
                              <i class="ri-lock-line"></i> Last Contract
                          </a>
                      </li>
                  </ul>
              </li>

              <!--=============== DROPDOWN 2 ===============-->
              <li class="dropdown__item">
                  <div class="nav__link">
                      Contact <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                      <li>
                          <a href="#" class="dropdown__link">
                              <i class='bx bxl-linkedin-square' ></i> Linkedin
                          </a>
                      </li>

                      <li>
                          <a href="#" class="dropdown__link">
                              <i class='bx bxl-facebook-circle' ></i> Facebook
                          </a>
                      </li>

                      <li>
                          <a href="#" class="dropdown__link">
                              <i class='bx bxl-twitter' ></i> Twitter
                          </a>
                      </li>
                  </ul>
              </li>

              <!--=============== DROPDOWN 2 ===============-->
              <li class="dropdown__item">
                  <div class="nav__link">
                      Private <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                      <li id="signin">
                          <a href="index.php?page=signin" class="dropdown__link">
                              <i class="ri-lock-line"></i> Sign In
                          </a>
                      </li>

                      <li id="signup">
                          <a href="index.php?page=signup" class="dropdown__link">
                              <i class="ri-user-line"></i> Sign Up
                          </a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</header>
