<li>
    <button mat-button [matMenuTriggerFor]="messagesMenu" class="messages-menu-btn">
      <i-feather name="heart"></i-feather>
      <span class="trinta-badge fw-bold text-center text-white rounded-circle d-flex align-items-center justify-content-center bg-danger">
        {{ favorites.length }}
      </span>
    </button>
    <mat-menu class="messages-menu-dropdown" #messagesMenu="matMenu" xPosition="before">
      <div class="title d-flex align-items-center justify-content-between">
        <span class="fw-medium fs-16">
          Favoris
          <span class="text-body fw-normal fs-15">({{ favorites.length }})</span>
        </span>
        <a (click)="clearFavorites()" class="link-btn fw-medium text-primary" style="cursor: pointer;">
          Supprimer Tout
        </a>
      </div>
      <ul class="menu-body pl-0 mt-0 list-unstyled">
        <li *ngFor="let product of favorites" class="position-relative">

          <!-- Lien global -->
          <a [routerLink]="['/ecogui/client/product-details', product.id]" class="d-block text-decoration-none link-wrapper">

            <img [src]="product.image[0]" class="rounded-circle position-absolute" alt="product">
            <span class="sub-title d-block fw-medium">{{ product.name }}</span>
            <span class="message d-block text-body">{{ product.description }}</span>

          </a>

          <!-- Bouton de suppression -->
          <button mat-icon-button (click)="removeProductFromWishlist(product)" class="position-absolute top-0 right-0 z-2">
            <i class="ri-delete-bin-line text-muted"></i>
          </button>

        </li>
      </ul>

     <!-- <div class="menu-footer text-center">
        <a routerLink="/default-not-implemented" class="text-primary text-decoration-underline d-inline-block fw-medium">
          Ouvrir
        </a>
      </div> -->
    </mat-menu>
  </li>
