<mat-card class="trinta-card privacy-policy-card mb-25 bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mt-0 mb-0">Sécurité :</h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h6>Authentification à deux facteurs (2FA)</h6>
    <p>
      Pour renforcer la sécurité de votre compte, Ecogui propose l’authentification à deux facteurs. Une fois activée, cette mesure nécessite deux méthodes de vérification lors de la connexion : un mot de passe et un code envoyé via SMS ou via une application comme Google Authenticator.
    </p>

    <h6>Vérification secondaire</h6>
    <p>
      Afin de prévenir toute tentative d’accès non autorisé, une vérification secondaire peut être requise lors d’activités inhabituelles, comme une connexion depuis un nouvel appareil ou une localisation inconnue. Cette étape vise à protéger vos données et vos achats.
    </p>

    <h6>Codes de secours</h6>
    <p>
      Lors de l’activation de la double authentification, des codes de secours uniques vous seront générés. Conservez-les dans un endroit sûr. Ils vous permettront d’accéder à votre compte en cas de perte d’accès à votre téléphone.
    </p>

    <h6>Notifications de sécurité</h6>
    <p>
      Ecogui vous informe en temps réel de toute activité liée à votre compte : connexions, changements de mot de passe, achats, et plus encore. Vous recevrez ces notifications par e-mail, sur l’application, ou via SMS selon vos préférences.
    </p>

    <h6>Suppression de votre compte</h6>
    <p>
      Si vous souhaitez clôturer définitivement votre compte, vous pouvez en faire la demande via cette interface. Notez que cette action est irréversible et entraînera la suppression de vos données personnelles, historiques d’achats et préférences.
    </p>

    <div class="btn-box">
      <button mat-button type="button">
        Fermer et supprimer mon compte
      </button>
    </div>
  </mat-card-content>
</mat-card>
