<div
    class="sidebar-area bg-white transition"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="images/logo-icon.svg" alt="logo-icon">
            <span class="fw-extrabold">
                Ecogui
            </span>
        </a>
    </div>
    <div
        class="burger-menu transition cursor-pointer"
        [ngClass]="{'active': isToggled}"
        (click)="toggle()"
    >
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body title">
                        Accueil
                    </span>

                    <mat-expansion-panel disabled>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="d-flex align-items-center">
                            <i-feather name="home" class="me-2"></i-feather>
                            <a routerLink="/" class="text-decoration-none text-dark w-100 title">Accueil</a>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
