<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="trinta-form ml-auto mr-auto bg-white border-radius">
                <div class="title text-center">
                    <h3>
                        Mot de passe oublié !
                    </h3>
                    <p class="text-black fs-15">
                        Entrez l'adresse e-mail que vous avez utilisée lors de votre inscription et nous vous enverrons des instructions pour réinitialiser votre mot de passe.
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            Adresse e-mail
                        </label>
                        <mat-form-field>
                            <i-feather name="mail"></i-feather>
                            <mat-label>Entrez votre adresse e-mail</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <button mat-button type="submit">
                        Envoyer
                    </button>
                    <div class="text-center">
                        <a routerLink="/authentication" class="text-primary">
                            Retour à la connexion
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
