<div class="confirm-email-area">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="trinta-form text-center ml-auto mr-auto bg-white border-radius">
          <h3>Mot de passe réinitialisé</h3>
          <div class="icon text-success ml-auto mr-auto d-flex align-items-center justify-content-center rounded-circle">
            <i-feather name="check-circle"></i-feather>
          </div>
          <h4 class="text-success">Opération réussie !</h4>
          <p class="text-black">
            Votre mot de passe a été mis à jour avec succès. Vous pouvez désormais vous connecter avec vos nouvelles informations d’identification.
          </p>
          <a routerLink="/authentication" mat-button>
            Se connecter
          </a>
        </div>
      </div>
    </div>
  </div>
