<mat-card class="trinta-card shipping-information-card mb-25 bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">
          Informations de facturation
        </h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h6>
        BAH Mamadou
      </h6>
      <ul class="p-0 m-0 list-unstyled">
        <li class="text-black position-relative">
          <span class="fw-medium">
            Adresse :
          </span>
          14 rue du docteur crestin
        </li>
        <li class="text-black position-relative">
          <span class="fw-medium">
            Téléphone :
          </span>
          (+33) 0667665889
        </li>
        <li class="text-black position-relative">
          <span class="fw-medium">
            Email :
          </span>
          {{ email }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
