  <li>
    <button mat-button [matMenuTriggerFor]="messagesMenu" class="messages-menu-btn">
      <i-feather name="shopping-cart"></i-feather>
      <span class="trinta-badge fw-bold text-center text-white rounded-circle d-flex align-items-center justify-content-center bg-danger">
        {{ cartItems.length }}
      </span>
    </button>
    <mat-menu class="messages-menu-dropdown" #messagesMenu="matMenu" xPosition="before">
      <div class="title d-flex align-items-center justify-content-between">
        <span class="fw-medium fs-16">
          Panier
          <span class="text-body fw-normal fs-15">({{ cartItems.length }})</span>
        </span>
        <a (click)="clearCart()" class="link-btn fw-medium text-primary" style="cursor: pointer;">
          Vider
        </a>
      </div>
      <ul class="menu-body pl-0 mt-0 list-unstyled">
        <li *ngFor="let product of cartItems" class="position-relative">

          <!-- Lien global -->
            <a [routerLink]="['/ecogui/client/product-details', product.id]" class="d-block text-decoration-none link-wrapper">
                <div class="icon rounded-circle d-flex align-items-center justify-content-center text-center transition">
                    <img [src]="product.image[0]" class="rounded-circle position-absolute hover-pointer" alt="product">
                </div>
                <span class="sub-title d-block fw-medium">{{ product.name }}</span>
            </a>
          <!-- Bouton de suppression -->
          <button mat-icon-button (click)="removeProductFromCart(product)" class="position-absolute top-0 right-0 z-2">
            <i class="ri-delete-bin-line text-muted"></i>
          </button>

        </li>
      </ul>

      <div class="menu-footer text-center">
        <a [routerLink]="['/ecogui/client/cart']" class="text-primary text-decoration-underline d-inline-block fw-medium">
          Allez au panier
        </a>
      </div>
    </mat-menu>
  </li>

