<!-- Products Filter -->
<mat-card class="trinta-card products-filter-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Filter
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div class="filters-top row">
                <div class="col-sm-6 col-lg-2/5">
                    <mat-form-field>
                        <mat-label>
                            <i class="material-symbols-outlined">
                                stacks
                            </i>
                            Choisissez une catégorie
                        </mat-label>
                        <mat-select multiple placeholder="Ex : Mode, Vélo...">
                            <mat-option value="1">Meubles</mat-option>
                            <mat-option value="2">Vélos</mat-option>
                            <mat-option value="3">Chaussures</mat-option>
                            <mat-option value="4">Sacs</mat-option>
                            <mat-option value="5">Mode</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-6 col-lg-2/5">
                    <mat-form-field>
                        <mat-label>
                            <i class="material-symbols-outlined">
                                monetization_on
                            </i>
                            Budget souhaité
                        </mat-label>
                        <mat-select placeholder="Sélectionnez une tranche de prix">
                            <mat-option value="1">Moins de 500 000 GNF</mat-option>
                            <mat-option value="2">Entre 500 000 et 2 000 000 GNF</mat-option>
                            <mat-option value="3">Entre 2 000 000 et 5 000 000 GNF</mat-option>
                            <mat-option value="4">Plus de 5 000 000 GNF</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-6 col-lg-2/5">
                    <mat-form-field>
                        <mat-label>
                            <i class="material-symbols-outlined">
                                equalizer
                            </i>
                            Avis des clients
                        </mat-label>
                        <mat-select placeholder="Filtrer par note">
                            <mat-option value="1">★★★★★ - Excellent</mat-option>
                            <mat-option value="2">★★★★☆ - Très bon</mat-option>
                            <mat-option value="3">★★★☆☆ - Moyen</mat-option>
                            <mat-option value="4">★★☆☆☆ - Faible</mat-option>
                            <mat-option value="5">★☆☆☆☆ - À éviter</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-lg-2/5">
                    <mat-form-field>
                        <mat-label>
                            <i class="material-symbols-outlined">
                                percent
                            </i>
                            Offres et remises
                        </mat-label>
                        <mat-select placeholder="Trouvez les meilleures affaires">
                            <mat-option value="1">-10% ou plus</mat-option>
                            <mat-option value="2">-15% ou plus</mat-option>
                            <mat-option value="3">-20% ou plus</mat-option>
                            <mat-option value="4">-25% ou plus</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="filters-bottom d-md-flex align-items-center justify-content-between">
                <div class="selected-filters d-lg-flex align-items-center">
                    <ul class="p-0 mb-0 mt-0">
                        <li class="d-inline-block position-relative fw-medium text-primary">
                            Electronique
                            <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                                <i class="ri-close-fill"></i>
                            </button>
                        </li>
                        <li class="d-inline-block position-relative fw-medium text-primary">
                            ★★★★★ - Excellent
                            <button type="button" class="p-0 bg-transparent border-none cursor-pointer">
                                <i class="ri-close-fill"></i>
                            </button>
                        </li>
                    </ul>
                    <button mat-button type="button">
                        Effacer
                    </button>
                </div>
                <div class="search-btn">
                    <button mat-button type="button">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<!-- Products List -->
 <app-product-list></app-product-list>

<!-- Pagination -->
<div class="pagination-card mb-25 d-md-flex align-items-center justify-content-between">
    <p class="mb-0 text-black">
        Affichage de 1 à 12 sur 102 résultats
    </p>
    <ol class="pagination list-unstyled mt-0 mb-0 p-0">
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                <i class="ri-arrow-left-line"></i>
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page" class="active">
                1
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                2
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                3
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                <i class="ri-arrow-right-line"></i>
            </a>
        </li>
    </ol>
</div>
