
<!-- Products Filter -->
<app-product-filter />

<!-- Products List -->
<app-product-list></app-product-list>

<!-- Pagination -->
<div class="pagination-card mb-25 d-md-flex align-items-center justify-content-between">
    <p class="mb-0 text-black">
        Affichage de 1 à 12 sur 102 résultats
    </p>
    <ol class="pagination list-unstyled mt-0 mb-0 p-0">
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                <i class="ri-arrow-left-line"></i>
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page" class="active">
                1
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                2
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                3
            </a>
        </li>
        <li class="pagination-item d-inline-block">
            <a mat-button routerLink="/ecommerce-page">
                <i class="ri-arrow-right-line"></i>
            </a>
        </li>
    </ol>
</div>
