
/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Products Filter
    .trinta-card {
        &.products-filter-card {
            padding: 20px;

            .mat-mdc-card-header {
                margin-bottom: 5px;
            }
            .mat-mdc-card-content {
                .filters-top {
                    margin-bottom: 20px;
                }
                .filters-bottom {
                    .selected-filters {
                        ul {
                            li {
                                margin: {
                                    right: 8px;
                                    bottom: 8px;
                                };
                            }
                        }
                        .mat-mdc-button {
                            margin: {
                                left: 0;
                                top: 11px;
                            };
                        }
                    }
                    .search-btn {
                        .mat-mdc-button {
                            padding: 12px 30px;
                            margin-top: 17px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.products-filter-card {
                .mat-mdc-card-content {
                    .filters-top {
                        .mat-mdc-form-field {
                            .mdc-text-field--filled {
                                .mat-mdc-floating-label {
                                    mat-label {
                                        padding-left: 28px;
                                        font-size: 13px;

                                        i {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Products Grid
    .trinta-card {
        &.product-card {
            padding: 20px;

            .mat-mdc-card-content {
                .image {
                    margin-bottom: 20px;
                }
                .content {
                    h5 {
                        font-size: 14px;
                        margin-bottom: 13px;
                    }
                    .ratings {
                        .star {
                            i {
                                font-size: 14px;
                            }
                        }
                        span {
                            top: 1px;
                            margin-left: 0;
                        }
                    }
                    .price {
                        margin-top: 17px;

                        span {
                            &:nth-child(2) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Products Filter
    .trinta-card {
        &.products-filter-card {
            padding: 30px 25px;

            .mat-mdc-card-header {
                margin-bottom: 10px;
            }
            .mat-mdc-card-content {
                .filters-top {
                    margin-bottom: 25px;
                }
                .filters-bottom {
                    .selected-filters {
                        ul {
                            li {
                                margin-right: 10px;
                            }
                        }
                        .mat-mdc-button {
                            margin: {
                                left: 0;
                                top: 15px;
                            };
                        }
                    }
                    .search-btn {
                        .mat-mdc-button {
                            padding: 13px 35px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.products-filter-card {
                .mat-mdc-card-content {
                    .filters-top {
                        .mat-mdc-form-field {
                            .mdc-text-field--filled {
                                .mat-mdc-floating-label {
                                    mat-label {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Products Grid
    .trinta-card {
        &.product-card {
            padding: 20px 20px 25px;

            .mat-mdc-card-content {
                .image {
                    margin-bottom: 20px;
                }
                .content {
                    h5 {
                        font-size: 15px;
                    }
                    .ratings {
                        .star {
                            i {
                                font-size: 15px;
                            }
                        }
                    }
                    .price {
                        margin-top: 17px;

                        span {
                            &:nth-child(2) {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
