<div class="row">
    <div class="col-lg-12">
        <mat-card class="trinta-card seller-card mb-25 bg-white border-none d-block">

            <mat-card-content class="text-center">
                <img src="images/seller.png" alt="seller-image">
                <h3>
                    <a routerLink="/ecommerce-page/seller-details">
                        La Caverne du Deal
                    </a>
                </h3>
                <span class="user text-body d-block">
                   BAH Mamadou
                </span>
                <a href="tel:+224621121314" class="number">
                    +224 621 12 13 14
                </a>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="text-start">
                        <h4 class="fw-medium">
                            12 750 000 GNF
                        </h4>
                        <span class="title d-block text-gray">
                            Revenue
                        </span>
                    </div>
                    <div class="text-start">
                        <h4 class="fw-medium">
                            579
                        </h4>
                        <span class="title d-block text-gray">
                            Produits
                        </span>
                    </div>
                    <div>
                        <a routerLink="/profile/stats" mat-button>
                            Consulter
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
</div>
