<mat-card class="trinta-card order-summary-card mb-25 bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">
          Résumé de la commande
        </h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="p-0 m-0 list-unstyled">
        <li class="d-flex align-items-center justify-content-between">
          <span class="d-block fw-medium">
            Description
          </span>
          <span class="d-block fw-medium">
            Prix
          </span>
        </li>
        <li class="d-flex align-items-center justify-content-between">
            <span class="d-block fw-medium">
              Total :
            </span>
            <span class="d-block fw-medium">
                23 530 000 GNF
            </span>
        </li>
        <li class="d-flex align-items-center justify-content-between">
          <span class="text-black d-block">
            Frais de livraison :
          </span>
          <span class="text-black d-block">
            0 GNF
          </span>
        </li>
        <li class="d-flex align-items-center justify-content-between">
            <span class="d-block fw-medium">
              Total à payer :
            </span>
            <span class="d-block fw-medium">
              23 530 000 GNF
            </span>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
