
<div class="container">
	<div class="screen">
		<div class="screen__content">
      <div class="title-bc">
        <span class="button__text bconnect-title"> {{ componentTilte }} </span>
      </div>
			<form class="login" [formGroup]="signinForm"  (ngSubmit)="onSubmit()">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
          <input type="email" formControlName="email" name="email" class="login__input" placeholder="Email" required>
          <span class="errorForms" [ngStyle]="{'color': 'red'}"  *ngIf="signinForm.controls['email'].invalid && submitted">
            Email invalide.
          </span>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
          <input type="password" formControlName="password" name="password" class="login__input" placeholder="Password" required>
          <span class="errorForms" [ngStyle]="{'color': 'red'}" *ngIf="signinForm.controls['password'].invalid && submitted">
            invalid Password (minLength: 6).
          </span>
        </div>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <button class="button login__submit" type="submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
			<div class="social-login">
				<h3><a routerLink="/signup" class="signup-from-signin">Sign up</a></h3>
				<div class="social-icons">
					<a routerLink="/forgot-password" class="social-login__icon">Forgot password ?</a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>

