<!-- Changer le mot de passe -->
<app-alert-notification
*ngIf="showAlert"
[message]="alertMsg"
[type]="alertType"
(closeAlert)="showAlert = false"
/>
<mat-card class="trinta-card change-password-card mb-25 bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">Changer le mot de passe</h5>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
        <div class="row">
          <div class="col-lg-6">
            <label class="label d-block fw-medium mb-10">Ancien mot de passe</label>
            <mat-form-field>
              <i-feather name="lock"></i-feather>
              <mat-label>Saisir l'ancien mot de passe</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="old_password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hide">
                <span class="material-symbols-outlined">{{hide ? 'visibility_off' : 'visibility'}}</span>
              </button>
            </mat-form-field>
            <div class="error text-danger" *ngIf="updatePasswordForm.get('old_password')!.hasError('required') && updatePasswordForm.get('old_password')!.touched">
                Le mot de passe est requis.
            </div>
            <div class="error text-danger" *ngIf="updatePasswordForm.get('old_password')!.hasError('minlength') && updatePasswordForm.get('old_password')!.touched">
                Le mot de passe doit contenir au moins 8 caractères.
            </div>
          </div>

          <div class="col-lg-6">
            <label class="label d-block fw-medium mb-10">Nouveau mot de passe</label>
            <mat-form-field>
              <i-feather name="lock"></i-feather>
              <mat-label>Saisir le nouveau mot de passe</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hide2">
                <span class="material-symbols-outlined">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
              </button>
            </mat-form-field>
            <div class="error text-danger" *ngIf="updatePasswordForm.get('password')!.hasError('required') && updatePasswordForm.get('password')!.touched">
                Le mot de passe est requis.
            </div>
            <div class="error text-danger" *ngIf="updatePasswordForm.get('password')!.hasError('minlength') && updatePasswordForm.get('password')!.touched">
                Le mot de passe doit contenir au moins 8 caractères.
            </div>
          </div>

          <div class="col-lg-12">
            <label class="label d-block fw-medium mb-10">Confirmer le mot de passe</label>
            <mat-form-field>
              <i-feather name="lock"></i-feather>
              <mat-label>Saisir à nouveau le mot de passe</mat-label>
              <input matInput [type]="hide3 ? 'password' : 'text'" formControlName="confirm_password">
              <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Masquer le mot de passe'" [attr.aria-pressed]="hide3">
                <span class="material-symbols-outlined">{{hide3 ? 'visibility_off' : 'visibility'}}</span>
              </button>
            </mat-form-field>
            <div class="error text-danger" *ngIf="updatePasswordForm.get('confirm_password')!.hasError('required') && updatePasswordForm.get('confirm_password')!.touched">
                Le mot de passe est requis.
            </div>
            <div class="error text-danger" *ngIf="updatePasswordForm.get('confirm_password')!.hasError('minlength') && updatePasswordForm.get('confirm_password')!.touched">
                Le mot de passe doit contenir au moins 8 caractères.
            </div>
          </div>
        </div>
        <div class="error text-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
        <div class="save-password-btn">
            <div class="spinner-wrapper" *ngIf="isLoading">
                <mat-spinner diameter="30" strokeWidth="4"></mat-spinner>
            </div>
            <button *ngIf="!isLoading" mat-button type="submit" [disabled]="updatePasswordForm.invalid">Changer le mot de passe</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
