<div class="row">
    <div class="col-lg-4" [ngClass]="{'hide-profile-left-sidebar': isSidebarHidden()}">
        <mat-card class="trinta-card profile-settings-card mb-25 bg-white border-none d-block">
            <mat-card-content>
                <div class="admin text-center">
                    <div class="image ml-auto mr-auto position-relative">
                        <img [src]="profileImage" class="rounded-circle" alt="image-profil">
                    </div>
                    <h6>
                        {{ userData?.name }}
                    </h6>
                    <span class="d-block text-body">
                        &#64;{{ userData?.name?.replace(' ', '_')?.toLowerCase() }}
                    </span>
                </div>
                <ul class="list-unstyled p-0 m-0">
                    <li class="fw-medium">
                        <a routerLink="/settings" class="d-block position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="settings"></i-feather>
                            Paramètres du compte
                        </a>
                    </li>
                    <li class="fw-medium">
                        <a routerLink="/settings/change-password" class="d-block position-relative" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i-feather name="key"></i-feather>
                            Changer le mot de passe
                        </a>
                    </li>
                    
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div [ngClass]="{
        'col-lg-8': !isSidebarHidden(),
        'col-lg-12': isSidebarHidden()
      }">
        <router-outlet></router-outlet>
    </div>
</div>
