<div
    class="header-area bg-white box-shadow transition"
    [ngClass]="{ 'active': isToggled, 'hide-sidebar': !isAuthenticated }"
>
    <div class="d-md-flex align-items-center justify-content-between">
        <div class="header-left-side d-flex align-items-center">

           @if (!isAuthenticated) {
            <div class="logo bg-white">
                <a routerLink="/" class="d-flex align-items-center">
                  <img src="images/ecogui-mini-logo.png" alt="logo-icon">
                </a>
            </div>
           }
           @if (isAuthenticated) {

                <div
                    class="burger-menu position-relative transition lh-1"
                    [ngClass]="{'active': isToggled}"
                    (click)="toggle()"
                >
                    <i-feather name="align-left"></i-feather>
                </div>

           }

        </div>
        <ul class="header-right-side d-flex align-items-center m-0 p-0 list-unstyled">
           @if (!isAuthenticated) {

            <li>
                <button
                      mat-stroked-button
                      color="primary"
                      class="w-100 auth-action-btn"
                      routerLink="/auth/sign-up"
                    >
                      Inscrivez-vous
                    </button>
            </li>
            <li >
                <button
                      mat-flat-button
                      color="primary"
                      class="w-100 mb-2 auth-action-btn"
                      routerLink="/auth/sign-in"
                    >
                      Se connecter
                    </button>
            </li>
           }
            <li *ngIf="isAuthenticated">
                <button mat-button [matMenuTriggerFor]="notificationsMenu" class="notifications-menu-btn">
                  <i-feather name="bell"></i-feather>
                  <span class="trinta-badge fw-bold bg-primary text-center text-white rounded-circle d-flex align-items-center justify-content-center">
                    3
                  </span>
                </button>
                <mat-menu class="notifications-menu-dropdown" #notificationsMenu="matMenu" xPosition="before">
                  <div class="title d-flex align-items-center justify-content-between">
                    <span class="fw-medium fs-16">
                      Notifications
                      <span class="text-body fw-normal fs-15">
                        (03)
                      </span>
                    </span>
                    <a routerLink="/" class="link-btn fw-medium text-primary">
                      Tout effacer
                    </a>
                  </div>
                  <ul class="menu-body p-0 mt-0 list-unstyled">
                    <li class="position-relative">
                      <div class="icon rounded-circle d-flex align-items-center justify-content-center position-absolute text-center transition">
                        <i class="material-symbols-outlined">
                          attach_money
                        </i>
                      </div>
                      <span class="sub-title d-block">
                        Paiement reçu de <strong class="fw-semibold">Ecogui</strong> : 27 500 000 GNF
                      </span>
                      <span class="time d-block text-body">
                        Il y a 30 minutes
                      </span>
                      <a routerLink="/" class="d-block left-0 top-0 bottom-0 right-0 z-1 position-absolute"></a>
                      <span class="unread d-inline-block rounded-circle bg-primary position-absolute"></span>
                    </li>

                    <li class="position-relative">
                      <div class="icon rounded-circle d-flex align-items-center justify-content-center position-absolute text-center transition">
                        <i class="material-symbols-outlined">
                          shopping_cart
                        </i>
                      </div>
                      <span class="sub-title d-block">
                        Nouvelle commande : <strong class="fw-semibold">Ordinateur Zenix-24 x2</strong>
                      </span>
                      <span class="time d-block text-body">
                        Il y a 1 heure
                      </span>
                      <a routerLink="/" class="d-block left-0 top-0 bottom-0 right-0 z-1 position-absolute"></a>
                      <span class="unread d-inline-block rounded-circle bg-primary position-absolute"></span>
                    </li>

                    <li class="position-relative">
                      <div class="icon rounded-circle d-flex align-items-center justify-content-center position-absolute text-center transition">
                        <i class="material-symbols-outlined">
                          chat
                        </i>
                      </div>
                      <span class="sub-title d-block">
                        Nouveau message : <strong class="fw-semibold">Votre produit a été valider !</strong>
                      </span>
                      <span class="time d-block text-body">
                        Il y a 3 heures
                      </span>
                      <a routerLink="/" class="d-block left-0 top-0 bottom-0 right-0 z-1 position-absolute"></a>
                      <span class="unread d-inline-block rounded-circle bg-primary position-absolute"></span>
                    </li>
                  </ul>
                  <div class="menu-footer text-center">
                    <a routerLink="/" class="text-primary text-decoration-underline d-inline-block fw-medium">
                      Voir toutes les notifications
                    </a>
                  </div>
                </mat-menu>
              </li>

            <!-- AUTH FIN-->
            <li>
                <button
                  mat-button
                  (click)="toggleTheme()"
                  class="dark-swtich-btn whishlist-tag"
                  [class.active]="toggleService.isDark()"
                >
                  <i-feather [name]="toggleService.isDark() ? 'sun' : 'moon'"></i-feather>
                </button>
            </li>

            <button mat-button class="language-menu-btn">
                <img src="images/gn-flag.png" alt="flag">
            </button>
            <li *ngIf="isAuthenticated">
                <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-menu-btn">
                    <img [src]="profileImage" class="rounded-circle" alt="admin-image">
                </button>
                <mat-menu class="profile-menu-dropdown" #profileMenu="matMenu" xPosition="before">
                    <div class="menu-header d-flex align-items-center">
                        <img [src]="profileImage" class="rounded-circle" alt="admin-image">
                        <div class="title">
                            <a routerLink="/my-profile" class="d-inline-block fw-medium" >
                                {{ userData?.name }}
                            </a>
                            <span class="designation d-block text-body">
                                Vendeur
                            </span>
                        </div>
                    </div>
                    <ul class="menu-body pl-0 mb-0 mt-0 list-unstyled">
                        <li class="position-relative transition fw-medium">
                            <i class="material-symbols-outlined">
                                person
                            </i>
                            Mon profil
                            <a routerLink="/profile/orders" class="link-btn d-block position-absolute left-0 right-0 top-0 bottom-0 z-1"></a>
                        </li>
                        <li class="position-relative transition fw-medium">
                            <i class="material-symbols-outlined">
                                settings
                            </i>
                            Paramètres
                            <a routerLink="/settings" class="link-btn d-block position-absolute left-0 right-0 top-0 bottom-0 z-1"></a>
                        </li>

                        <li class="position-relative transition fw-medium">
                            <i class="material-symbols-outlined">
                                mail
                            </i>
                            Nous contactez
                            <a routerLink="/contact" class="link-btn d-block position-absolute left-0 right-0 top-0 bottom-0 z-1"></a>
                        </li>
                        <li class="position-relative transition fw-medium">
                            <i class="material-symbols-outlined">
                                logout
                            </i>
                            Déconnexion
                            <a routerLink="/" (click)="logout()" class="link-btn d-block position-absolute left-0 right-0 top-0 bottom-0 z-1"></a>
                        </li>
                    </ul>
                </mat-menu>
            </li>
        </ul>
    </div>
</div>
