<div class="row">
    <div class="col-lg-4">
      <mat-card class="trinta-card shopping-cart-card mb-25 bg-white border-none d-block">
        <mat-card-header>
          <mat-card-title>
            <h5 class="mt-0 mb-0">Panier d'achat</h5>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="shopping-cart-table">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource">

                <!-- Colonne Produit -->
                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef class="pl-0">Produit</th>
                  <td mat-cell *matCellDef="let element" class="pl-0">
                    <div class="product-info d-flex align-items-center">
                      <a routerLink="/" class="image d-block">
                        <img [src]="element.image[0]" alt="image-produit" style="width: 50px;">
                      </a>
                      <div class="info ms-2">
                        <a routerLink="/" class="d-block fw-semibold">
                          {{ element.name }}
                        </a>
                        <span class="d-block text-body">
                          {{ element.seller }}
                        </span>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <!-- Colonne Prix -->
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef class="text-end pr-0">Prix</th>
                  <td mat-cell *matCellDef="let element" class="text-end pr-0">
                    {{ element.total | number:'1.0-2':'fr' }} GNF
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>
            </div>
          </div>

          <!-- Résumé des prix dynamiques -->
          <ul class="cart-info p-0 m-0 list-unstyled">
            <li class="d-flex justify-content-between text-dark">
              <span class="d-block fw-medium">Sous Total :</span>
              <span class="d-block fw-medium">{{ grandTotal | number:'1.0-2':'fr' }} GNF</span>
            </li>
            <li class="d-flex justify-content-between text-black">
              <span class="d-block">Frais de livraison :</span>
              <span class="d-block">0 GNF</span>
            </li>
            <li class="d-flex justify-content-between text-dark">
              <span class="d-block fw-medium">Total à payer :</span>
              <span class="d-block fw-medium">{{ grandTotal | number:'1.0-2':'fr' }} GNF</span>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-8">
        <app-invoice-information />
    </div>
  </div>
