<div
  [ngClass]="{
    'blank-page': router.url.startsWith('/auth') || router.url === '/contact' || router.url === '**',
    'hide-sidebar': !isAuthenticated
  }"
  [class.dark-theme]="toggleService.isDark()"
>
  @if (isAuthenticated) {
    <app-sidebar />
  }

  <div
    class="main-content transition d-flex flex-column"
    [ngClass]="{
        'active': isToggled,
        'hide-sidebar': !isAuthenticated
    }"
    >
    <app-header [ngClass]="{ 'hide-sidebar': !isAuthenticated }" />
    <router-outlet />
    <div class="flex-grow-1"></div>
    <app-footer />
  </div>
</div>
