<div class="container">
	<div class="screen">
		<div class="screen__content">
      <div class="title-bc">
        <span class="button__text bconnect-title"> {{ componentTilte }} </span>
      </div>
			<form class="login" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" formControlName="name" name="name"  class="login__input" placeholder="Name" required>
          <span class="errorForms"  [ngStyle]="{'color': 'red'}"  *ngIf="signupForm.controls['name'].invalid && submitted">
            Invalid Name (minLength: 2)
          </span>
        </div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" formControlName="email"  name="email"  class="login__input" placeholder="Email" required>
          <span class="errorForms" [ngStyle]="{'color': 'red'}"  *ngIf="signupForm.controls['email'].invalid && submitted">
            Invalid Email.
          </span>
        </div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" formControlName="password"  name="password"  class="login__input" placeholder="Password">
          <span class="errorForms" [ngStyle]="{'color': 'red'}"  *ngIf="signupForm.controls['password'].invalid && submitted">
            invalid Password (minLength: 6).
          </span>
        </div>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
				<button class="button login__submit" type="submit">
					<span class="button__text">Sign Up Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
			<div class="social-login">
				<h3><a routerLink="/signin">Sign In</a></h3>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
